[
  {rabbit, [
    {auth_mechanisms, [<%= @rabbit.auth_mechanisms.collect{|m| "'#{m}'"}.join(', ') %>]},
    <% if @rabbit.ssl_cert_login_from %>
    {ssl_cert_login_from, <%= @rabbit.ssl_cert_login_from %>},
    <% end %>
    {ssl_listeners, [<%= @rabbit.format_addresses(@rabbit.ssl_listeners) %>]},
    {ssl_options, [
      <% if @ssl.cacert %>
      {cacertfile, "/etc/rabbitmq/cacert.pem"},
      <% end %>
      <% if @ssl.cert %>
      {certfile, "/etc/rabbitmq/cert.pem"},
      <% end %>
      <% if @ssl.key %>
      {keyfile, "/etc/rabbitmq/key.pem"},
      <% end %>
      {fail_if_no_peer_cert, <%= @ssl.fail_if_no_peer_cert %>},
      {verify, <%= @ssl.verify %>}
    ]},
    {tcp_listeners, [<%= @rabbit.format_addresses(@rabbit.tcp_listeners) %>]}
  ]}
].
